@charset "utf-8";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
/*center 정렬*/
html,
body {
  font-size: 10px;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.inner {
  width: 100%;
  max-width: 1340px;
  margin: auto;
}
#header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header_top {
  grid-template-columns: 20% 60% 20%;
  gap: 2%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  height: 122px;
  border-bottom: 1px solid #efefef;
  background-color: #fff;
}
.search_box {
  justify-content: center;
}
.search_box input {
  padding: 1%;
  height: 4rem;
  border-radius: 50px;
  width: 100%;
  outline: none;
}
.util {
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.nav_bg {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffffd5;
  backdrop-filter: blur(4px);
}
.gnb > .main_menu > li .sub_menu {
  display: none;
}
.gnb:hover > .main_menu > li .sub_menu {
  display: block;
}

.main_menu {
  justify-content: space-between;
  padding: 1.2% 0;
}
.main_menu > li > a {
  display: block;
  font-size: 2rem;
}
.main_menu > li:hover > a {
  color: #247df6;
}

nav > ul > li {
  text-align: center;
}

.sub_menu li {
  padding: 10% 0;
}

.sub_menu li a:hover {
  color: #247df6;
}
/*header*/

.main_slider {
  width: 100%;
  margin: auto;
}
/*추천best ider 공통*/
.main_slider div {
  height: 66.4rem;
}
.main_slider img {
  width: 100%;
  height: 66.4rem;
  object-fit: cover;
}

.slider1 li {
  height: 24rem;
  margin: 0 10px;

  overflow: hidden;
  border-radius: 5px;
}
.slider1 li img {
  width: 100%;
  height: 24rem;
  object-fit: cover;
  border-radius: 5px;
}
.slider1 li img:hover {
  transform: scale(1.3);
  transition: all 2s;
}
.slider {
  padding-top: 122px;
}

.itemBox h2 {
  font-size: 2.4rem;
  font-weight: bold;
  padding: 4.2% 0px 1%;
}
.festival {
  position: relative;
}
.festival_list {
  grid-template-columns: 60% 38%;
  gap: 2%;
}
.festival_list img {
  width: 100%;
  border-radius: 5px;
}
.View {
  position: absolute;
  top: 10px;
  right: 10px;
}
/*footer*/
footer {
  width: 100%;
  background: #414551;
  color: #efefef;
}
.footer_bg {
  padding: 3% 0;
  justify-content: space-between;
  gap: 5%;
}
footer .info {
  gap: 2%;
  margin-bottom: 2%;
}
.info_box {
  font-size: 1.4rem;
}
.info_box span {
  padding-right: 5px;
}
.sns_box {
  gap: 5%;
  justify-content: center;
}
.sns_box img {
  width: 28px;
}
/*footer_end*/
